<div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-body shade my-5">
        <h5 class="text-muted mt-3 mb-4">
          Register a new account
        </h5>
        <div class="form-group">
          <input type="text" name="username" class="form-control form-control-lg" value="" placeholder="username">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control form-control-lg" value="" placeholder="password">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <input type="password" name="confirmPassword" class="form-control form-control-lg" value="" placeholder="Retype password">
          <div class="invalid-feedback"></div>
        </div>
        <button type="submit" name="login_user" value="Login" class="btn btn-lg btn-block btn-primary">
          <small>Register</small>
        </button>
        <a routerLink="/" class="btn btn-lg btn-block btn-outline-secondary">
          <small>Cancel</small>
        </a>
      </div>
    </div>
  </div>
