<h4 class="jumbotron py-5 mb-2">Mini Netflix Movies</h4>
<input
  ngModel name="searchTerm"
  #searchTerm="ngModel"
  (keyup)="filterMovies(searchTerm.value)"
  type="text"
  placeholder="Search movies"
  class="form-control form-control-lg mb-3"
>
<div class="row">
    <app-movie-card
      *ngFor="let movie of movies"
      [movie]="movie"
      class="col-md-4 col-lg-3"
    >
    </app-movie-card>
</div>

<ngb-pagination
  [collectionSize]="movies.length"
  [pageSize]="pageSize"
  [(page)]="currentPage"
  (pageChange)="handlePageChange()"
  [maxSize]="5"
  [rotate]="true"
  aria-label="Default pagination"
>
</ngb-pagination>
